.site-content {
  padding: 1em;
}

.site-content {
  max-width: $size__max-width;
  margin: 0 auto;
}

@media screen and (min-width: $size__max-width) {
  .single.has-sidebar {
    .hentry {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .entry-header {
        width: 100%;
        flex: 1 0 100%;
      }

      .post-content {
        width: $size__ratio-large;
      }

      .widget-area {
        width: $size__ratio-small;
      }
    }

  }
  .page {
    &.has-page-sidebar {
      .hentry {
        flex-direction: row-reverse;
      }
    }

    &:not(.has-page-sidebar) {
      .hentry {
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: $size__max-width) {
  .single .page,
  .no-sidebar {

    .entry-header {
      text-align: center;
    }
    .post-content__wrap {

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .top-row__wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }
      .bottom-row__wrap{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      .entry-meta {
        width: 20%;
      }

      .post-content__body {
        width: 100%;
        margin: 0 16px 0 16px;
      }

      aside#page-secondary {
        margin-top: 0;
        width: 0;
        overflow: hidden;
        transition: width 1s ease,  margin-right 1s ease, opacity 1s ease;
        opacity: 0;
      }
      .widget-area {
        margin-right: 0;
      }
    }
  }
}

.single .page,
.no-sidebar {

  .entry-header {
    text-align: center;
    padding: 1em;
  }
}
aside#page-secondary {
  margin-top: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(1, 0.03, 0.01, 0.88), opacity .5s cubic-bezier(1, 0.03, 0.01, 0.88);
  opacity: 0;
}
.search_by{
  background-color: $color__sites-grey;
  min-width: 250px;
  position: relative;
  font-size: 20px;
  width: 100%;
  p{
    padding: 8px 16px 8px 16px;
    margin: 0;
    font-weight: 500;
    i{
      padding: 4px .5em;
      background-color: $color__sites-light-blue;
      color: white;
      margin-left: 10px;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}
.post-content__body {
  margin: 0 16px 0 16px;
}

