button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid;
  border-color: $color__black;
  background: transparent;
  color: $color__black;
  @include font-size(1);
  line-height: 1;
  padding: .5em 1em;

  &:hover,
  &:active,
  &:focus {
    background: white;
    color: black;
  }
}
.fa-plus {
  opacity: 1;
  float: right;
  padding-right: 8px;
  transition: opacity 0.5s ease;
}

.fa-minus {
  float: right;
  padding-right: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}