.archive-view {
  background-color: white;

  .post,
  .page {
    position: relative;
    background: white;
  }

  .post__content {
    padding: 2em 2em 3em;
  }

  @media screen and (min-width: $query_medium) {
    &.has-sidebar {
      .site-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .page-header {
        width: 100%;
        flex: 1 0 100%;
      }

      .content-area {
        width: $size__ratio-large;
      }

      .widget-area {
        width: $size__ratio-small;
      }

    }
  }
}

.page-header {
  font-family: $font__open_sans;
}

.page-title {
  margin: 0 0 .5em;
}

.archive-description {
  margin: -1em 0 2em;
}

/* For content-none.php */
.search,
.error-404 {

  .page-content {
    margin-bottom: 2em;
    padding: 1em 2em;
    font-family: $font__open_sans;
    color: black;
    background: $color__sites-grey;
  }

  input[type="search"] {
    padding: .5em;
  }

  input[type="submit"] {
    border-color: white;
    color: white;

    &:focus,
    &:hover {
      color: black;
    }
  }
}
.not-found {
  h5{
    color: $color__interactive;
    font-weight: 500;
  }
}

.sticky::before {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 2em 2em 0;
  border-color: #eee #eee white;
  border-style: solid;
  box-shadow: -1px 2px 2px hsla(0, 0%, 10%, .1);
}

.index-image {
  img {
    display: block;
    margin: 0 auto;
  }

  a {
    &:focus > img,
    &:hover > img {
      opacity: .8;
    }
  }
}

.continue-reading {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: $font__open_sans;

  a {
    display: block;
    padding: .5em 1em;
    font-size: 90%;
    text-decoration: none;
    background: hsl(0, 0%, 85%);

    &:focus,
    &:hover {
      color: white;
      background: $color__sites-light-blue;
      text-decoration: none;
    }
  }

}

.archive-header {
  text-align: center;
  padding: 1em;
  background-color: $color__sites-grey;
  margin: -1% 1% 1% 1%;
}

.archive__wrap {
  display: flex;
  flex-wrap: wrap;

  .archive__inner {
    width: 48%;
    min-width: 48%;
    margin: 1%;
    background-color: $color__sites-grey;
  }

  .archive__title {
    padding: .3em 2em 0;
    text-align: center;
  }

  .post__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em 1em;

    .entry-header-archive {
      width: 40%;

      .index-image img {
        max-height: 220px;
        object-fit: cover;
        height: fit-content;
      }
    }

    .entry-content {
      width: 50%;
      margin: 0 16px 0 16px;

    }

    .continue-reading {
      width: 100%;
      position: inherit;
      text-align: center;
    }
  }
}

.secondary-title {
  text-align: center;
}
.no-results-title {
  color: $color__interactive;
  text-align: center;
  padding: 1em .3em .3em .3em;
  background-color: #e9e9e9;
  margin: -1% 1% 1% 1%;
  p{
    margin-bottom: 0;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: $query_medium) {
  .secondary-title {
    font-size: 1.5rem;
    margin: .5em;
  }
  .no-results-title {
    margin: 0;
    p{
      font-size: 1rem;
    }
  }
  .archive-header {
    margin: 0;
    padding: 0 1em 1em 1em;
  }
  .archive__wrap {
    display: block;

    .archive__inner {
      width: 100%;
      margin: 16px 0;
      background-color: $color__sites-grey;
    }

    .post__content {
      .entry-content {
        width: 50%;
        margin: 0 0 0 16px;
        font-size: .8em;
      }
    }
  }
}


