.header-image {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    max-height: 14em;
    @media screen and (min-width: $query_medium) {
      max-height: 512px;
    }
  }
}

.site-header {
  position: relative;
  display: block;
  margin: 0 auto;
  font-family: $font__open_sans;
  color: $color__text;
  background-color: $color__background-header;

  @media screen and (min-width: $query_small) {
    padding: 1em 2em;
  }
}
.site-header-restrainer{
  max-width: $query_large;
  margin: 0 auto;
  position: relative;
}
.site-header__container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-branding {
  min-height: 85px;
  display: flex;
  flex: 1 0 auto;
}

.custom-logo-link {
  margin-right: 1em;
  img {
    display: block;
    height: 85px;
    width: auto;
  }
}
.site-branding__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85px;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;

  a {
    color: $color__text;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
  font-size: .9em;
  font-style: italic;
  font-weight: 100;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  background-color: $color__sites-grey;
  height: 30px;
}
/*
Header Menu
 */

@import "header-menu";