.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
  padding: 2em 0;
  font-family: $font__open_sans;
  text-align: left;
  overflow: hidden;

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 1em;
    border: 2px solid rgba(10, 10, 10, 0);
    color: black;
    background-color: $color__sites-grey;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    &:hover,
    &:focus {
      color: black;
      border: 2px solid blue;
      background: $color__sites-grey;
      text-decoration: none;
    }
  }

}

.nav-links {
  margin: 0 auto;
  padding: 0 .4em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.nav-previous,
.nav-next {
  float: left;
  display: flex;
  align-items: stretch;
  width: 48%;
}
@media screen and (min-width: $query_medium) {

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
  }

  .comment-navigation,
  .posts-navigation,
  .post-navigation {

    .nav-previous,
    .nav-next {
      float: left;
      display: flex;
      align-items: stretch;
      width: 48%;
    }

    .nav-next {
      float: right;
      text-align: right;
    }
  }

  .nav-previous {
    padding-bottom: 0;
  }

}

.post-navigation {

  .meta-nav {
    display: block;
  }

  @media screen and (min-width: 30em) {
    padding-bottom: 1em;
  }

  .post-title {
    font-weight: 700;
  }

  a:hover .post-title,
  a:focus .post-title {
    border-bottom-color: white;
  }

}

.pagination {

  font-family: $font__open_sans;

  .nav-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  a,
  span {
    padding: .5em 1em;
    background: white;
    flex: auto;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      color: white;
      background: $color__interactive;
    }
  }

  .current {
    font-weight: 600;
    color: $color__interactive;
  }
}
