
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.entry-header {
  font-family: $font__open_sans;
  text-align: center;
  background-color: $color__sites-grey;
  padding: 5px;
}

.cat-links {
  font-size: 90%;
  font-weight: 700;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $color__interactive;

    &:focus,
    &:hover {
      background-color: $color__interactive;
      color: white;
    }
  }
}

.entry-title {
  margin: .125em 0 .25em;
  font-size: 1.25em;

  @media screen and (min-width: $query_medium) {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      text-decoration: none;
      color: $color__sites-light-blue;
    }
  }
}

.entry-meta,
.entry-footer {
  font-family: $font__open_sans;
  font-size: 90%;

  a {
    font-weight: 700;
    text-decoration: none;
    color: black;

    &:focus,
    &:hover {
      color: black;
      border-bottom: 3px solid $color__interactive;
    }
  }
}

.byline {
  &::after {
    content: "|";
    margin: 0 .5em;
  }
}

.comments-link,
.edit-link {
  &::before {
    content: "|";
    margin: 0 .5em;
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.extra {
  display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {

  .entry-meta {
    margin-top: 1.5em;
  }

  @media screen and (min-width: $size__max-width) {
    .post-content__wrap {

      .entry-meta {
        margin-top: 2.25em;
        font-size: 80%;

        a {
          font-size: 110%;
          display: block;
          border-bottom: 3px solid white;

          &:hover,
          &:focus {
            border-bottom-color: $color__interactive;
          }
        }
      }

      .byline,
      .posted-on,
      .comments-link,
      .edit-link {
        display: block;
        margin-bottom: 1em;

        &:before,
        &:after {
          margin: 0;
          content: "";
        }
      }

      .extra {
        display: inline;
      }
    }

  }
}


.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 16px 0 16px;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-footer {
  margin: 1.5em 0;
  font-family: $font__open_sans;
}

/* Single Post Featured Images */

.full-bleed {
  width: 100vw;
  max-height: 1200px;
  margin-top: 1em;
  margin-left: -1em;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  overflow: hidden;

  @media screen and (min-width: $query_small) {
    margin-left: -2em;
  }

  @media screen and (min-width: $query_medium) {
    margin-top: 1.5em;
    margin-right: -2em;
  }

  @media screen and (min-width: $size__max-width) {
    margin-right: calc(((-100vw + #{$size__max-width}) / 2) - 2em);
    margin-left: calc(((-100vw + #{$size__max-width}) / 2) - 2em);
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.bio {
  display: flex;
  flex-direction: row;

  .featured-image {
    flex-wrap: wrap;
    max-width: 60%;
    min-width: 50%;
    overflow: hidden;

    img {
      max-height: 700px;
      object-fit: cover;
    }
  }

  .bio-content-wrap {
    display: flex;
    flex-direction: column;

    .entry-header-bio {
      height: auto;
      background-color: rgba(blue, 0.8);

      h1 {
        color: white;
        margin: 0 0 0 16px;
        font-size: 28px;
        font-weight: 300;
        line-height: 32px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
    }

    .post-content-bio {
      height: auto;
      .featured-image {
        display: none;
      }
    }

    .bio-meta {
      padding: 8px 0 8px 0;
      background-color: $color__sites-grey;

      h4 {
        margin: 0 6px 0 16px;
        font-size: 1.2em;
        font-weight: 600;
      }
      h5{
        font-size: 1.1em;
      }
      h6{
        font-size: .8em;
        margin: 0 6px 0 16px;
        font-style: italic;
      }
    }
  }
}
.meta-wrap {
  display: flex;
  margin: 0 16px 0 16px;
}
.mobile-navigation {
  display: none;
}
@media screen and (max-width: $query_medium) {
  .single .page .entry-header, .no-sidebar .entry-header {
    text-align: center;
    padding: .5em .5em 1em .5em;
  }

  .bio {
    flex-wrap: wrap;

    .featured-image {
      display: none;
      img {
      }
    }

    .bio-content-wrap {
      .entry-header-bio {
        text-align: center;
        margin: 0 -1em;
        h1 {
          font-size: 1.4em;
          margin: 8px 0 8px 0;
        }
      }

      .post-content-bio {
        .entry-content {
          margin: 16px 0 16px 0;
        }
        .featured-image {
          display: block;
          max-height: 400px;
          max-width: 100%;
        }
      }

      .bio-meta {
        margin: 0 -1em 0 -1em;
      }
    }
  }
  .mobile-navigation {
    display: block;
  }
}